/*welcomepage.html, welcomepage_for_TA.html, 
_profile.html, search_add.html CSS*/
header, nav {
	display: block;
}
header {
	height: 160px;
}
header nav{
	clear: both;
	color: #ffffff;
	background-color: #aeaca8;
	height: 30px;
}
header nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}
header nav li {
	display: inline;
	margin-right: 40px;
}
header nav li a {
	color: #ffffff;
}
header a {
	color: #de6581;
	text-decoration: none;
}
header h1 {
	font-weight: normal;
}

header nav li a:hover, nav li a.current {
	color: #000000;
}