/*student.html, TA.html, admin.php 
_profile.html, search_add.html CSS*/
header, section, footer, aside, nav, article, figure, figcaption {
	display: block;}
body {
	color: #666666;
	background-color: #f9f8f6;
	background-image: url("images/BG.jpg");
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;}
.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;}
header {
	height: 160px;
}
nav, footer {
	clear: both;
	color: #ffffff;
	background-color: #aeaca8;
	height: 30px;}
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;}
nav li {
	display: inline;
	margin-right: 40px;}
nav li a {
	color: #ffffff;}
nav li a:hover, nav li a.current {
	color: #000000;}
section.courses {
	float: left;
	width: 659px;
	border-right: 1px solid #eeeeee;}
article {
	clear: both;
	overflow: auto;
	width: 100%;}
hgroup {
	margin-top: 40px;}
figure {
	float: left;
	width: 559px;
	height: auto;
	padding: 15px;
	margin: 20px;
	border: 3px solid #eeeeee;}
figcaption {
	font-size: 90%;
	text-align: left;}
aside {
	width: 230px;
	float: left;
	padding: 0px 0px 0px 20px;}
aside section a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;}
aside section a:hover {
	color: #985d6a;
	background-color: #efefef;}
a {
	color: #de6581;
	text-decoration: none;}
h1, h2, h3 {
	font-weight: normal;}
h2 {
	margin: 10px 0px 5px 0px;
	padding: 0px;}
h3 {
	margin: 0px 0px 10px 0px;
	color: #de6581;}
aside h2 {
	padding: 30px 0px 10px 0px;
	color: #de6581;}
footer {
	font-size: 80%;
	padding: 7px 0px 0px 20px;}
#upperright {
	position: relative;
	left: 890px;
	font-size: 15px;
}
#namesize {
	font-size: 15px;
}
#results {
	float: none;
	clear: both;
	margin-left: 24px;
	margin-bottom: 50px;
}
th {
	border-bottom: 1px black solid;
}
th, td {
	padding: 0px 5px 0px 5px;
	text-align: left;
}
.error {
	border: 1px solid red;
}
label {
	display: inline-block;
	width: 75px;
	text-align: left;
}









